* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

table {
    font-size: 32px;
    border-collapse: collapse;
    width: 100%;
}

td,th {
    border: 1px solid gray;
    padding: 0.5rem;
}

.numbers {
    display: flex;
    justify-content: space-between;
}

.numbers_left {
    display: flex;
    padding: 0.5rem;
    font-size: 25px;
}
.numbers_right {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 15px;
}
.numbers_name {
    margin: 0px 10px 0px 10px;
}

.main {
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-box-shadow: 5px 4px 17px -1px rgba(0,0,0,0.33);
    box-shadow: 5px 4px 17px -1px rgba(0,0,0,0.33);
    border-radius: 10px;
}

